


    <div class="content-wrapper">

    <section class="content-header">
      <h1>
        Course
        <small>Add</small>
      </h1>
    </section>

    <section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Add Course</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <%= form_tag(instructor_save_course_path , method: "post" , :multipart => true) do %>              
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                          <label >Course Name</label>
                          <%= text_field_tag :title , '' , class: 'form-control', autofocus: true , placeholder: "Title" %>
                        </div>
                        <div class="form-group">
                          <label >Price</label>
                          <%= number_field_tag :price , 0 , class: 'form-control' , :step => 0.1 %>
                        </div>
                        <div class="form-group">
                          <label >Description</label>
                          <%= text_area_tag :description , '' , cols: 1, rows: 5 , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>outline 1</label>
                               <%= text_field_tag :out_1 , '' , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>Outline 1</label>
                            <!-- <input type="text" name="menu_item_title" class="form-control"> -->
                            <%= text_area_tag :out_des_1 , '' , cols: 1, rows: 5 , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>outline 2</label>
                               <%= text_field_tag :out_2 , '' , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>Outline 2</label>
                            <!-- <input type="text" name="menu_item_title" class="form-control"> -->
                            <%= text_area_tag :out_des_2 , '' , cols: 1, rows: 5 , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>outline 3</label>
                               <%= text_field_tag :out_3 , '' , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>Outline 3</label>
                            <!-- <input type="text" name="menu_item_title" class="form-control"> -->
                            <%= text_area_tag :out_des_3 , '' , cols: 1, rows: 5 , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>outline 4</label>
                               <%= text_field_tag :out_4 , '' , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>Outline 4</label>
                            <!-- <input type="text" name="menu_item_title" class="form-control"> -->
                            <%= text_area_tag :out_des_4 , '' , cols: 1, rows: 5 , class: 'form-control', autofocus: true %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                          <label >Objective
                          </label>
                          <%= text_area_tag :objective , '' , cols: 1, rows: 5 , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>outline 5</label>
                               <%= text_field_tag :out_5 , '' , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>Outline 5</label>
                            <!-- <input type="text" name="menu_item_title" class="form-control"> -->
                            <%= text_area_tag :out_des_5 , '' , cols: 1, rows: 5 , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>outline 6</label>
                               <%= text_field_tag :out_6 , '' , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>Outline 6</label>
                            <!-- <input type="text" name="menu_item_title" class="form-control"> -->
                            <%= text_area_tag :out_des_6 , '' , cols: 1, rows: 5 , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>outline 7</label>
                               <%= text_field_tag :out_7 , '' , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>Outline 7</label>
                            <!-- <input type="text" name="menu_item_title" class="form-control"> -->
                            <%= text_area_tag :out_des_7 , '' , cols: 1, rows: 5 , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>outline 8</label>
                               <%= text_field_tag :out_8 , '' , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                            <label>Outline 8</label>
                            <!-- <input type="text" name="menu_item_title" class="form-control"> -->
                            <%= text_area_tag :out_des_8 , '' , cols: 1, rows: 5 , class: 'form-control', autofocus: true %>
                        </div>
                        <div class="form-group">
                          <label >Insert Image</label>
                          <%= file_field_tag "image" %>
                        </div>
                    </div>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            <% end %>
          </div>
          <!-- /.box -->
        </div>
    </div>
    </section>

    </div>
