
    <div class="h-20"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="h-20"></div>
                <div class="col-md-12 col-xs-12">
                    <div class="newest-container">
                        <div class="row body body-target body-target-s">
                            <% @course.each do |cor| %>
                            <div class="col-md-3 col-sm-6 col-xs-12 tab-con">
                                <a href="<%= specific_course_path(cor.id) %>" title="<%= cor.title %>" class="content-box pagi-content-box">

                                    <div class="img-container">
                                        <img src="<%= cor.image %>"/>
                                    </div>
                                    <h3><%= cor.title %></h3>
                                    <div class="footer">
                                        <span class="avatar" title="ConnectMedia" onclick="window.location.href = '<%= teacher_profile_path(1) %>'"><img src="bin/admin/profile&#32;pic/zz.png"></span>

                                            <% sus = cor.videos.pluck(:duration).sum %>
                                            <% if sus > 59 %>
                                                <% hou_sus = sus / 60 %>
                                                <% min_sus = sus % 60 %>
                                                <span class="pull-right content-clock"><%= hou_sus %> hour <%= min_sus %> min</span>
                                            <% else %>
                                                <span class="pull-right content-clock">0 hour <%= sus %> min</span>
                                            <% end %>
                                            
                                            <span class="boxicon mdi mdi-clock pull-right"></span>

                                        <span class="boxicon mdi mdi-wallet pull-left"></span>
                                        <label class="pull-left"> AED <%= cor.price %> </label>
                                    </div>
                                </a>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>                      
