<div class="container-fluid">
    <div class="row">
        <div class="parts-slider" style="background:url('bin/admin/files/img.jpg');">
            <div class="col-xs-12 col-md-4 col-md-offset-4 parts-slider-container">
                <h2>Online Courses</h2>
                <span>With Connect Media, you will be able to learn to recognize, read, and pronounce the Arabic
language perfectly. We will teach you Arabic letters and how they look like in their various forms. Read Arabic literature fluently in its natural form. Speak with us in perfect Arabic accent</span>
                <div class="parts-slider-button">
                    <a href="<%= signin_path %>">Start Learnings</a>
                </div>
            </div>
            <i class="fa fa-angle-down down-flesh"></i>
        </div>
    </div>
</div>
<div class="container hidden-xs hidden-sm" id="anchor-animate">
    <div class="h-25"></div>
    <div class="row">
        <div class="col-xs-12 col-md-4 container-banner-section">
            <a href="#"><img src="bin/admin/files/cmsdef/comingsoon2.jpg" class="col-md-12 col-sm-12 col-xs-12"></a>
            <a href="#"><img src="bin/admin/files/cmsdef/req.jpg" class="col-md-12 col-sm-12 col-xs-12"></a>
        </div>
        <div class="col-xs-12 col-md-8 parts-container">
            <div class="parts-container-slide" id="slide5">
                <div class="header">
                    <span>Featured courses</span>
                    <h2><a href="<%= course_path %>"><%= @course.first.title %></a></h2>
                </div>
                <div class="body-container">
                    <div class="row">
                        <div class="col-md-7">
                            <img src="bin/admin/Thumbnail/social&#32;marketing.png" class="img-responsive img-main-container img-con-r">
                        </div>
                        <div class="col-md-5 img-con-s">
                            <div class="item-container">
                                <div class="col-md-10 text-item">
                                    <span><%= simple_format(@course.first.description) %></span>
                                </div>
                                <div class="col-md-2">
                                    <span class="homeicon mdi mdi-comment"></span>
                                </div>
                            </div>
                            <div class="item-container">
                                <div class="col-md-10 timer-item">
                                    <label>1 hour 27 min</label>
                                </div>
                                <div class="col-md-2 ">
                                    <span class="homeicon mdi mdi-alarm"></span>
                                </div>
                            </div>
                            <div class="item-container">
                                <div class="col-md-10 price-item">
                                    <label>AED <%= @course.first.price %></label>
                                </div>
                                <div class="col-md-2">
                                    <span class="homeicon mdi mdi-wallet"></span>
                                </div>
                            </div>
                            <div class="item-container">
                                <div class="col-md-10 price-item profile-item">
                                    <label><a href="<%= teacher_profile_path(1) %>" class="profile-s">Connect Media</a></label>
                                </div>
                                <div class="col-md-2">
                                    <span class="homeicon mdi mdi-teach"></span>
                                </div>
                            </div>
                            <div class="item-container">
                                <a href="<%= course_path %>" class="btn btn-container-more btn-container-more-s" style="bottom: inherit !important;">Course View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <!-- <ul class="container-bullet">
                    <li data-target="slide5"  class="active" ></li>
                </ul> -->
            </div>
        </div>
    </div>
    <div class="h-25"></div>
</div>
<div class="container-fluid newest-container">
    <div class="container">
        <div class="row">
            <div class="header">
                <span class="pull-left">Our Courses</span>
                <a href="<%= course_path %>" class="more-link pull-right">View All</a>
            </div>
            <div class="body body-s-r" dir="ltr">
                <span class="nav-right"></span>
                <div class="owl-carousel">
                    <% @course.each do |cor| %>
                    <div class="owl-car-s" dir="rtl">
                        <a href="<%= specific_course_path(cor.id) %>" title="<%= cor.title %>" class="content-box">
                            <img src="<%= cor.image %>"/>
                            <h3><%= cor.title %></h3>
                            <div class="footer">
                                <span class="avatar" title="Connect Media" onclick="window.location.href = '<%= teacher_profile_path(1) %>'">
                                    <img src="bin/admin/profile&#32;pic/zz.png"/>
                                </span>
                                <label class="pull-right content-clock">1 hour 27 min</label>
                                <span class="boxicon mdi mdi-clock pull-right"></span>
                                <span class="boxicon mdi mdi-wallet pull-left"></span>
                                <label class="pull-left">AED <%= cor.price %></label>
                            </div>
                        </a>
                    </div>
                    <% end %>
                </div>
                <span class="nav-left pull-right"></span>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container news-container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-6 news-section">
                <div class="row contents_box">
                    <div class="header">
                        <i class="secicon mdi mdi-script-text"></i>
                        <span>Latest articles</span>
                    </div>
                    <div class="body">
                        <ul>
                            <% @articles.each do |arti| %>
                                <li>
                                    <a href="<%= specific_article_path(arti.id) %>">
                                        <img src="<%= @articles.last.image %>" alt=""><span><%= arti.title %></span><label for=""><%= arti.created_at.strftime("%A %d %B %Y") %></label>
                                    </a>
                                </li>
                            <% end %>

                            <% if @articles.count == 0 %>
                                <li>
                                    <a href="javascript:void(0);">
                                        <img src="bin/admin/images/3602312.png" alt=""><span>Currently No Articles</span>
                                    </a>
                                </li>
                            <% end %>
                                                            
                        </ul>
                    </div>
                    <div class="more-link">
                        <i class="secicon mdi mdi-dots-horizontal"></i>
                        <a href="<%= articles_path %>">More</a>
                    </div>
                </div>
                <div class="h-10"></div>
                <div class="row contents_box">
                    <div class="header header-news">
                        <i class="secicon mdi mdi-clipboard-text"></i>
                        <span>Latest News</span>
                    </div>
                    <div class="body">
                        <ul>
                            
                            <% @announc.each do |anno| %>
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="<%= anno.image %>" alt="">
                                    <span><%= anno.title %></span>
                                    <label for=""><%= anno.created_at.strftime("%A %d %B %Y") %></label>
                                </a>
                            </li>
                            <% end %>

                            <% if @announc.count == 0 %>
                            <li>
                                <a href="javascript:void(0);">
                                    <img src="bin/admin/images/62374.jpg" alt="">
                                    <span>Currently No News</span>
                                    <label for=""></label>
                                </a>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="more-link">
                        <i class="secicon mdi mdi-dots-horizontal"></i>
                        <a href="<%= announcements_path %>">More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-6">
                <div class="row-xs">
                    <div class="two-ads-container">
                        <div class="h-10 visible-xs"></div>
                            <div class="row">
                                <a href="https://codecanyon.net/item/proacademy-lms-online-courses-marketplace/25384806"><img src="bin/admin/files/banner/start-banner.jpg" class="col-md-6 col-sm-6 col-xs-12"></a>                  <a href="https://codecanyon.net/item/proacademy-lms-online-courses-marketplace/25384806"><img src="bin/admin/files/banner/powerful.jpg" class="col-md-6 col-sm-6 col-xs-12"></a>
                                <div class="h-15"></div>
                            </div>
                        </div>
                </div>
                <div class="row-xs contents_box">
                    <div class="top-user-container">
                        <div class="header">
                            <i class="secicon mdi mdi-teach"></i>
                            <span class="best-users">The best coaches</span>
                        </div>
                        <div class="user-tabs">
                            <!-- TAB CONTENT -->
                            <div class="tab-content">
                                <div class="active tab-pane fade in" id="tab1">
                                    <div class="col-md-3 tab-con">
                                        <a href="profile/108.html">
                                            <img src="bin/admin/profile&#32;pic/22654-6-man.png">
                                            <span>Alex Cook</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3 tab-con">
                                        <a href="profile/109.html">
                                            <img src="bin/admin/profile&#32;pic/5b8d51419125f.png">
                                            <span>Andy Field</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3 tab-con">
                                        <a href="profile/110.html">
                                            <img src="bin/admin/profile&#32;pic/20._Dowie_Sarah.png">
                                            <span>Mari Kasuya</span>
                                        </a>
                                    </div>
                                    <div class="col-md-3 tab-con">
                                        <a href="profile/111.html">
                                            <img src="bin/admin/profile&#32;pic/KAQkpfhs.jpeg">
                                            <span>Lindsey Thaxton</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-10"></div>
                <div class="row-xs contents_box">
                    <div class="top-user-container">
                        <div class="header">
                            <i class="secicon mdi mdi-bullhorn"></i>
                            <span class="best-chanels">The Best Channels</span>
                        </div>
                        <div class="user-tabs">
                            <!-- TAB CONTENT -->
                            <div class="tab-content">
                                <div class="active tab-pane fade in" id="tab4">
                                            <div class="col-md-3 tab-con">
                                                <a href="chanel/Cooking&#32;world.html">
                                                    <img src="bin/admin/images/dinner.png">
                                                    <span>Cooking world</span>
                                                </a>
                                            </div>
                                                                                    <div class="col-md-3 tab-con">
                                                <a href="chanel/Android&#32;World.html">
                                                    <img src="bin/admin/images/android.png">
                                                    <span>Android World</span>
                                                </a>
                                            </div>
                                                                                    <div class="col-md-3 tab-con">
                                                <a href="chanel/Marketing.html">
                                                    <img src="bin/admin/images/digital-marketing.png">
                                                    <span>Marketing</span>
                                                </a>
                                            </div>
                                                                                    <div class="col-md-3 tab-con">
                                                <a href="chanel/Healthy&#32;Travel.html">
                                                    <img src="bin/Lili&#32;Taylor/travel.svg">
                                                    <span>Healthy Travel</span>
                                                </a>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>