<div class="container-fluid">
        <div class="row product-header">
            <div class="container">
                <div class="col-xs-12 col-md-8 tab-con">
                    <h2><%= @course.title %></h2>
                </div>
                <div class="col-xs-12 col-md-4 text-left">
                    <div class="raty-product-section">
                        <div class="raty"></div>
                        <span class="raty-text"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h-20"></div>
        <div class="container-fluid">
        <div class="row product-body">
            <div class="container">
                <div class="col-md-4 col-xs-12 course_details">
                    <div class="product-details-box">
                        <span class="proicon mdi mdi-apps"></span>
                        <span class="pn-category"><%= @course.title %></span>
                    </div>

                    <div class="product-details-box">
                        <span class="proicon mdi mdi-alarm"></span>
                        <% sus = @course.videos.pluck(:duration).sum %>
                        <% if sus > 59 %>
                            <% hou_sus = sus / 60 %>
                            <% min_sus = sus % 60 %>
                            <span><%= hou_sus %> hour <%= min_sus %> min</span>
                        <% else %>
                            <span>0 hour <%= sus %> min</span>
                        <% end %>
                    </div>
                    <div class="product-details-box">
                        <span class="proicon mdi mdi-calendar-month"></span><span>01 August 2020</span>
                    </div>
                    <div class="product-details-box">
                        <span class="proicon mdi mdi-database"></span><span>
                           <%= @course.videos.pluck(:size).sum %> MB
                        </span>
                    </div>
                    <div class="product-details-box">
                        <span class="proicon mdi mdi-headset"></span>
                        <span>
                                                            Vendor supports this course
                                                    </span>
                    </div>
                    <div class="product-price-box">
                        <span class="proicon mdi mdi-wallet"></span>
                                                    <span id="buy-price">AED <%= @course.price %></span>
                                            </div>
                    <div class="h-10"></div>
                        <div class="product-buy-selection">
                            <form>
                                <input type="hidden" name="_token" value="VVv9r3Zkj6JwGBhq4kk4rONtFoT2IqpjgqTCPT9V">
                                <div class="radio">
                                    <input type="radio" id="radio-2" name="buy_mode" data-mode="download" value="100" checked>
                                    <label class="radio-label" for="radio-2">Purchase and download</label>
                                </div>
                                <div class="radio">
                                    <input type="radio" id="radio-1" data-mode="post" value="115" name="buy_mode">
                                    <label class="radio-label" for="radio-1">Purchase Physical Package</label>
                                </div>
                                                                            
                                <a class="btn btn-orange product-btn-buy sbox3" id="buy-btn" data-toggle="modal" data-target="#buyModal" href="#">Proceed</a>
                            </form>
                        </div>
                        <div class="h-10 visible-xs"></div>
                    </div>
                <div id="buyModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Purchase</h4>
                            </div>

                            <%= form_tag(web_buy_course_path , method: "post" , :multipart => true) do %>
                            <div class="modal-body">
                                <p>
                                    <%= hidden_field_tag 'course_id', @course.id %>
                                    <div class="">
                                        <label class="control-label" for="inputDefault">Choose Payment Method</label>
                                        <%= select_tag "pay_method", raw("<option value='Deposit (Bank Account)'>Deposit (Bank Account)</option><option value='Paytm'>Paytm</option><option value='Payu'>Payu</option><option value='Razorpay'>Razorpay</option>") , class: 'form-control' %>
                                    </div>
                                <div class="h-10"></div>
                                <div class="table-responsive table-base-price">
                                    <table class="table table-hover table-factor-modal">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Amount</th>
                                            <th class="text-center">Discount</th>
                                            <th class="text-center">Tax</th>
                                            <th class="text-center">Total Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center"><%= @course.price %></td>
                                                <td class="text-center">0</td>
                                                <td class="text-center">0</td>
                                            <td class="text-center"><%= @course.price %></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="table-responsive table-post-price table-post-price-s">
                                    <table class="table table-hover table-factor-modal" style="margin-bottom: 0;padding-bottom: 0;">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Amount</th>
                                            <th class="text-center">Discount</th>
                                            <th class="text-center">Tax</th>
                                            <th class="text-center">Total Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">115</td>
                                                                                            <td class="text-center">0</td>
                                                <td class="text-center">۰</td>
                                                <td class="text-center">۰</td>
                                                <td class="text-center">115</td>
                                                                                    </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </p>
                            </div>
                            <div class="modal-body">
                                </div>
                                                        <div class="modal-footer">
                                <button type="button" class="btn btn-custom pull-left" data-dismiss="modal">Cancel</button>
                                
                                <%= submit_tag("Purchase", :id=>"buyBtn", :class=>"btn btn-custom pull-left", :name=>"buy") %>
                                
                            </div>
                            <% end %>
                        </div>

                    </div>
                </div>
                <div class="col-md-8 col-xs-12 video-details">
                    <video id="myDiv" controls>
                        <source src="../../../bin/admin/Thumbnail/demoh.mp4" type="video/mp4"/>
                    </video>
                    <div class="video-details-section">
                        <a href="javascript:void(0);" title="Share">
                            <span class="playericon mdi mdi-share-variant"></span>
                        </a>
                        <a href="javascript:void(0);" class="course-id-s" title="Course Id.">
                            <span class="playericon mdi mdi-library-video"></span>
                            CK
                        </a>
                        <a class="pull-left views-s" title="Views" href="javascript:void(0)">
                            <span>20</span>
                            <span class="playericon mdi mdi-eye"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h-20"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="col-md-4 col-xs-12">
                    <div class="row">
                                                <div class="course_details">
                            <div class="product-user-box">
                                <img class="img-box" src="../../../bin/admin/profile&#32;pic/zz.png" class="img-responsive"/>
                                <h3>
                                    <a href="<%= teacher_profile_path(1) %>"><span>Connect Media</span></a>
                                </h3>
                                <div class="user-description-box">
                                    Take simple steps to make yourself feel less stressed. Make time for fun and relaxation, and try to do something you enjoy every day. Find a way of being active that you like. Being physically active releases feelgood hormones called endorphins and can help you to sleep better – helping to lower stress levels.
                                </div>
                                <div class="text-center hidden">
                                    <img class="img-icon img-icon-s" src="../../../bin/admin/files/cmsdef/medals/reg/4.svg" title="Old friend of the site"/>
                                    <img class="img-icon img-icon-s" src="../../../bin/admin/files/cmsdef/medals/coursecount/1.svg" title="New Vendor"/>
                                    <img class="img-icon img-icon-s" src="../../../bin/admin/files/cmsdef/medals/sales/1.svg" title="Talent seller"/>
                                    <img class="img-icon img-icon-s" src="../../../bin/admin/files/cmsdef/medals/purchase/1.svg" title="Tester"/>
                                </div>
                            </div>
                            <div class="product-user-box-footer">
                                <a href="<%= teacher_profile_path(1) %>">Profile</a>
                            </div>
                            <div class="h-25"></div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-8 col-xs-12 product-part-container">
                    <div class="user-tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#tab2" role="tab" data-toggle="tab">Detail</a></li>
                            <li class="hidden"><a href="#tab1" role="tab" data-toggle="tab">Course Content</a></li>
                            <li class="hidden"><a href="#tab3" role="tab" data-toggle="tab">Basic Requirements</a></li>
                                                                                </ul>
                        <!-- TAB CONTENT -->
                        <div class="tab-content">
                            
                            <div class="active tab-pane fade in" id="tab2">
                                <!-- <div class="tab-con"></div> -->
                                <p dir="ltr" style="line-height: 28px; color: rgb(0, 0, 0);">
                                    <span style="font-weight: bolder;"><%= @course.title %></span>
                                </p>
                                <p dir="ltr" style="margin-bottom: 1rem; line-height: 28px; color: rgb(0, 0, 0);">
                                    <%= simple_format(@course.description) %>
                                </p>
                                <p dir="ltr" style="line-height: 28px; color: rgb(0, 0, 0);">
                                    <span style="font-weight: bolder;">Objective</span>
                                </p>
                                <p dir="ltr" style="margin-bottom: 1rem; line-height: 28px; color: rgb(0, 0, 0);">
                                    <%= simple_format(@course.objective) %>
                                </p>

                                <p dir="ltr">
                                    <span style="font-weight: bolder;">Outline</span>
                                </p>
                                <% @course.outlines.each do |out| %>
                                    <p dir="ltr" style="line-height: 28px; color: rgb(0, 0, 0);">
                                        <span style="font-weight: bolder;"><%= out.title %></span>
                                    </p>
                                    <p dir="ltr" style="margin-bottom: 1rem; line-height: 28px; color: rgb(0, 0, 0);">
                                        <%= simple_format(out.description) %>
                                    </p>
                                <% end %>

                                <span style="font-weight: bolder;">source : ConnectMedia</span>
                            </div>
                            <div class="tab-pane fade in hidden" id="tab1">
                                <ul class="part-ul">
                                        <li>
                                            <div class="part-links">
                                                <a  href="#" >
                                                    <div class="col-md-1 hidden-xs tab-con">                                                                                                                    <span class="playicon mdi mdi-play-circle"></span>
                                                                                                            </div>
                                                    <div class=" col-md-4  col-xs-10 tab-con">
                                                        <label>Draw Cute Cartoon Characters</label>
                                                    </div>
                                                </a>
                                                <div class="col-md-2 tab-con">
                                                    <span class="btn btn-gray btn-description hidden-xs" data-toggle="modal" href="#description-109">Description</span>
                                                    <div class="modal fade" id="description-109">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-hidden="true">
                                                                        &times;
                                                                    </button>
                                                                    <h4 class="modal-title">Description</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p style="text-align: center;"><img src="https://image.freepik.com/free-vector/restaurant-staff-characters-include-chef-assistants-manager-waitress_48866-392.jpg" alt="Restaurant staff characters. include chef, assistants, manager, waitress Premium Vector" style="text-align: left; width: 552.182px; height: 367.821px;">&nbsp;</p><p>I've been creating cute little characters&nbsp;for as long as I can remember -&nbsp;and I absolutely love it. Over many&nbsp;years of&nbsp;trial and&nbsp;error,&nbsp;I've&nbsp;uncovered&nbsp;a few handy secrets that make it easier&nbsp;to draw cute cartoons.&nbsp;Now, I&nbsp;use those secrets to&nbsp;help over 9000&nbsp;students discover their&nbsp;love of drawing 'kawaii' cute characters of their own!</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-custom pull-left" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div><!-- /.modal -->
                                                </div>
                                                <div class="col-md-2 text-center hidden-xs tab-con">
                                                    <span>25 MB</span>
                                                </div>
                                                <div class="col-md-2 hidden-xs tab-con">
                                                    <span>12 minutes</span>
                                                </div>
                                                                                                    <div class="col-md-1 col-xs-2 tab-con">
                                                        <span class="download-part" data-href="/video/download/109"><span class="mdi mdi-arrow-down-bold"></span></span>
                                                    </div>
                                                                                            </div>
                                        </li>
                                        <li>
                                            <div class="part-links">
                                                <a  href="110.html" >
                                                    <div class="col-md-1 hidden-xs tab-con">                                                                                                                    <span class="playicon mdi mdi-lock"></span>
                                                                                                            </div>
                                                    <div class=" col-md-4  col-xs-10 tab-con">
                                                        <label>The Anatomy of &#039;Cute&#039;</label>
                                                    </div>
                                                </a>
                                                <div class="col-md-2 tab-con">
                                                    <span class="btn btn-gray btn-description hidden-xs" data-toggle="modal" href="#description-110">Description</span>
                                                    <div class="modal fade" id="description-110">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-hidden="true">
                                                                        &times;
                                                                    </button>
                                                                    <h4 class="modal-title">Description</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p style="text-align: center;"><img alt="" src="http://academy.prodevelopers.eu/bin/admin/photo_shop/damian.jpg" style="height: 283px; width: 400px;"></p><p dir="ltr">&nbsp;In this lecture you'll learn all about the "Cute Ratio", which is a simple system I use to keep basic cartoon characters looking cute. By sticking to some simple rules, you too will be able to create kawaii styled cartoons in no time.</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-custom pull-left" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div><!-- /.modal -->
                                                </div>
                                                <div class="col-md-2 text-center hidden-xs tab-con">
                                                    <span>114 MB</span>
                                                </div>
                                                <div class="col-md-2 hidden-xs tab-con">
                                                    <span>38 minutes</span>
                                                </div>
                                                                                                    <div class="col-md-1 col-xs-2 tab-con">
                                                        <span class="download-part" data-href="/video/download/110"><span class="mdi mdi-arrow-down-bold"></span></span>
                                                    </div>
                                                                                            </div>
                                        </li>
                                                                            <li>
                                            <div class="part-links">
                                                <a  href="111.html" >
                                                    <div class="col-md-1 hidden-xs tab-con">                                                                                                                    <span class="playicon mdi mdi-lock"></span>
                                                                                                            </div>
                                                    <div class=" col-md-4  col-xs-10 tab-con">
                                                        <label>Quick Warm-Up</label>
                                                    </div>
                                                </a>
                                                <div class="col-md-2 tab-con">
                                                    <span class="btn btn-gray btn-description hidden-xs" data-toggle="modal" href="#description-111">Description</span>
                                                    <div class="modal fade" id="description-111">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-hidden="true">
                                                                        &times;
                                                                    </button>
                                                                    <h4 class="modal-title">Description</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p dir="ltr"><img src="https://image.freepik.com/free-vector/teenagers-boys-characters-communication-online-retro-cartoon-poster-with-music-symbols-chat-messages-bubbles-vector-illustration_1284-19762.jpg" alt="Teenagers boys characters communication online retro cartoon  poster with music symbols and chat messages bubbles vector illustration Free Vector" style="width: 555.006px; height: 332.475px;"><br></p><p dir="ltr">Warm-up is one of those things that nobody wants to do, but probably should. It gets you into the creative mood and gets you into the drawing groove. Don't underestimate the benefits of warming up!</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-custom pull-left" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div><!-- /.modal -->
                                                </div>
                                                <div class="col-md-2 text-center hidden-xs tab-con">
                                                    <span>36 MB</span>
                                                </div>
                                                <div class="col-md-2 hidden-xs tab-con">
                                                    <span>21 minutes</span>
                                                </div>
                                                                                                    <div class="col-md-1 col-xs-2 tab-con">
                                                        <span class="download-part" data-href="/video/download/111"><span class="mdi mdi-arrow-down-bold"></span></span>
                                                    </div>
                                                                                            </div>
                                        </li>
                                                                            <li>
                                            <div class="part-links">
                                                <a  href="112.html" >
                                                    <div class="col-md-1 hidden-xs tab-con">                                                                                                                    <span class="playicon mdi mdi-lock"></span>
                                                                                                            </div>
                                                    <div class=" col-md-4  col-xs-10 tab-con">
                                                        <label>My Equipment</label>
                                                    </div>
                                                </a>
                                                <div class="col-md-2 tab-con">
                                                    <span class="btn btn-gray btn-description hidden-xs" data-toggle="modal" href="#description-112">Description</span>
                                                    <div class="modal fade" id="description-112">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-hidden="true">
                                                                        &times;
                                                                    </button>
                                                                    <h4 class="modal-title">Description</h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p dir="ltr"><img src="https://image.freepik.com/free-vector/badminton-player-male-female-vector-animated-character-creation-set-man-woman-full-length-front-side-back-view-badminton-accessories-poses-emotions-gestures_87720-1234.jpg" alt="Badminton player male, female vector. animated character creation set. man, woman full length, front, side, back view. badminton accessories. poses, emotions, gestures Premium Vector" style="width: 577.006px; height: 324.443px;"><br></p><p dir="ltr">Dozens of students asked what equipment I use when creating my characters, which is a great question, so I thought it was about time I answered. In this video I talk about my setup, but that doesn't mean you will need the same system or devices. The easiest and cheapest way to start is pencil and paper. This is the bare requirement. If you are wanting to explore the digital world of art creation, I recommend either an iPad with a stylus (because many people already own an iPad) or picking up an Intuos tablet to plug into your computer. This course was 90% created using Sketchbook Pro (ie. The screen you see in bulk of the lessons is Sketchbook Pro), which uses layers and has the ability to change brushes, etc. This is what I would recommend using when starting out. If you have any questions, feel free to ask.</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-custom pull-left" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div><!-- /.modal -->
                                                </div>
                                                <div class="col-md-2 text-center hidden-xs tab-con">
                                                    <span>22 MB</span>
                                                </div>
                                                <div class="col-md-2 hidden-xs tab-con">
                                                    <span>16 minutes</span>
                                                </div>
                                                                                                    <div class="col-md-1 col-xs-2 tab-con">
                                                        <span class="download-part" data-href="/video/download/112"><span class="mdi mdi-arrow-down-bold"></span></span>
                                                    </div>
                                                                                            </div>
                                        </li>
                                                                                                        </ul>
                            </div>
                            <div class="tab-pane fade in tab-body hidden" id="tab3">
                                <div class="col-md-4 col-xs-12 tab-con">
                                    <a href="../1/4.html" title="How to Draw Characters" class="content-box content-box-r">
                                        <img src="../../../bin/admin/Thumbnail/1.png"/>
                                        <h3>How to Draw Characters</h3>
                                        <div class="footer">
                                            <span class="boxicon mdi mdi-wallet pull-left"></span>
                                            <label class="pull-left">AED 100</label>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-xs-12 tab-con">
                                    <a href="../4/16.html" title="Network Security" class="content-box content-box-r">
                                        <img src="../../../bin/admin/Thumbnail/2.png"/>
                                        <h3>Beginner</h3>
                                        <div class="footer">
                                            <span class="boxicon mdi mdi-wallet pull-left"></span>
                                            <label class="pull-left">AED100</label>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-4 col-xs-12 tab-con">
                                    <a href="../7/28.html" title="Advanced Photography" class="content-box content-box-r">
                                        <img src="../../../bin/admin/Thumbnail/5.png"/>
                                        <h3>Intermediate</h3>
                                        <div class="footer">
                                            <span class="boxicon mdi mdi-wallet pull-left"></span>
                                            <label class="pull-left">AED 100</label>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-20"></div>

                </div>
            </div>
        </div>
    </div>
    <div class="h-30"></div>

    <script type="application/javascript">var sliderTimer = 9000;</script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        var preloader = 0;
    </script>

    <script type="application/javascript" src="../../../assets/default/javascripts/view-custom.js"></script>
    <script type="application/javascript" src="../../../assets/default/view/fluid-player-master/fluidplayer.min.js"></script>
    <script>
        $(function () {
            fluidPlayer("myDiv", {
                layoutControls: {
                    primaryColor: "#db5400",
                    logo: {
                        imageUrl: '/bin/admin/images/logo/logo.png', // Default null
                        position: 'top right', // Default 'top left'
                        clickUrl: null , // Default null
                        opacity: 0.9, // Default 1
                        imageMargin: '10px', // Default '2px'
                        hideWithControls: true, // Default false
                        showOverAds: 'true' // Default false
                    }
                },
                            });
        });
    </script>
    <script>
        $('.raty').raty({
            starType: 'i', score: 0, click: function (rate) {
                window.location = window.location.href + '/rate/' + rate;
            }
        });
    </script>

